[tool.poetry]
name = "molgri"
version = "1.1.0"
description = "Generate molecular pseudotrajectories based on rotational grids."
authors = ["Hana Zupan <hana.zupan@fu-berlin.de>"]
license = "LICENSE"
readme = "README.md"
#dynamic = ["dependencies"]
keywords = ["pseudotrajectory", "molecular grids", "association", "state space discretisation"]
packages = [
    { include = "molgri/scripts" },
    { include = "molgri" },
]
repository = "https://github.com/bkellerlab/molecularRotationalGrids"
homepage = "https://www.bcp.fu-berlin.de/en/chemie/chemie/forschung/PhysTheoChem/agkeller/index.html"

[tool.poetry.dependencies]
python = ">=3.7"
matplotlib = ">=3.0"
mendeleev = "*"
networkx = ">=2.6"
numpy = ">=1.0"
pandas = ">=1.0"
scipy = ">=1.0"
seaborn = ">=0.12"

[build-system]
requires = ["poetry-core>=1.0.0"]
#requires = {file = "requirements.txt"}#["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.scripts]
molgri-grid = "molgri.scripts.generate_grid:run_generate_grid"
molgri-pt = "molgri.scripts.generate_pt:run_generate_pt"
molgri-io = "molgri.scripts.set_up_io:parse_and_create"

#[tool.setuptools.dynamic]
#dependencies = {file = "requirements.txt"}

[tool.setuptools.package-data]
mypkg = ["*.gro"]