amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1687675480808/work
anyio==4.4.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
argparse-dataclass @ file:///home/conda/feedstock_root/build_artifacts/argparse-dataclass_1691002636450/work
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attmap @ file:///home/conda/feedstock_root/build_artifacts/attmap_1636190286002/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel==2.15.0
beautifulsoup4==4.12.3
biopython @ file:///home/conda/feedstock_root/build_artifacts/biopython_1704895401961/work
bleach==6.1.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi==1.16.0
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1718096442229/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.2
conda-inject @ file:///home/conda/feedstock_root/build_artifacts/conda-inject_1717043556818/work
ConfigArgParse @ file:///home/conda/feedstock_root/build_artifacts/configargparse_1690138037986/work
connection-pool @ file:///home/conda/feedstock_root/build_artifacts/connection_pool_1608581887050/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429918028/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
datrie @ file:///home/conda/feedstock_root/build_artifacts/datrie_1696000660933/work
debugpy==1.8.2
decorator==5.1.1
deeptime @ file:///home/conda/feedstock_root/build_artifacts/deeptime_1716358879698/work
defusedxml==0.7.1
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1713930378730/work
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1718243458415/work
eido @ file:///home/conda/feedstock_root/build_artifacts/eido_1700190800789/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing==2.0.1
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1643971550063/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1718477020893/work/dist
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1717209197958/work
fqdn==1.5.1
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
GridDataFormats @ file:///home/conda/feedstock_root/build_artifacts/griddataformats_1697985967205/work
gsd @ file:///home/conda/feedstock_root/build_artifacts/gsd_1717071353206/work
h11==0.14.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1717664849471/work
httpcore==1.0.5
httpx==0.27.0
humanfriendly @ file:///home/conda/feedstock_root/build_artifacts/humanfriendly_1696765224545/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
immutables @ file:///home/conda/feedstock_root/build_artifacts/immutables_1695646700507/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipykernel==6.29.5
ipympl==0.9.4
ipython==8.28.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json5==0.9.25
jsonpointer==3.0.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1714573116818/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257406420/work
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379925569/work
logmuse @ file:///home/conda/feedstock_root/build_artifacts/logmuse_1594742469765/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899920239/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976243782/work
matplotlib-inline==0.1.7
mda-xdrlib @ file:///home/conda/feedstock_root/build_artifacts/mda-xdrlib_1693318078463/work
MDAnalysis @ file:///home/conda/feedstock_root/build_artifacts/mdanalysis_1703774481797/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mistune==3.0.2
mmtf-python @ file:///home/conda/feedstock_root/build_artifacts/mmtf-python_1657095270742/work
mrcfile @ file:///home/conda/feedstock_root/build_artifacts/mrcfile_1704968736657/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1715670634347/work
munkres==1.1.4
nbclient==0.10.0
nbconvert==7.16.4
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nest-asyncio==1.6.0
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1718724106892/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
nglview==3.1.2
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897630316/work
pandocfilters==1.5.1
parso==0.8.4
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
peppy @ file:///home/conda/feedstock_root/build_artifacts/peppy_1716936492314/work
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154464349/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
plac @ file:///home/conda/feedstock_root/build_artifacts/plac_1708635080780/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
plotly==5.22.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
prometheus_client==0.20.0
prompt_toolkit==3.0.47
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722396628/work
ptyprocess==0.7.0
PuLP @ file:///home/conda/feedstock_root/build_artifacts/pulp_1705064651972/work
pure-eval==0.2.2
pycparser==2.22
pyedr @ file:///home/conda/feedstock_root/build_artifacts/pyedr_1703367335318/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1717533819931/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-json-logger==2.0.7
pytng @ file:///home/conda/feedstock_root/build_artifacts/pytng_1718791665485/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373450623/work
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
reretry @ file:///home/conda/feedstock_root/build_artifacts/reretry_1671379180978/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1715089993456/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1716489742795/work/dist/scikit_learn-1.5.0-cp312-cp312-linux_x86_64.whl#sha256=8b61f53622477d1363849e0c4a38aaaba428a3c12774ddeeb7708402e6461580
scikit-learn-extra==0.3.0
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470217329/work/dist/scipy-1.13.1-cp312-cp312-linux_x86_64.whl#sha256=14b84b5040ea70693ce8d693310d3d92eb67e0b00bd8ae57408d63c1fc99dc7b
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
Send2Trash==1.8.3
setuptools==70.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slack_sdk @ file:///home/conda/feedstock_root/build_artifacts/slack-sdk_1718346153620/work
smart_open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1711455333245/work/dist
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
snakemake @ file:///opt/conda/conda-bld/snakemake_1718101557418/work
snakemake-interface-common @ file:///opt/conda/conda-bld/snakemake-interface-common_1712834219539/work
snakemake-interface-executor-plugins @ file:///opt/conda/conda-bld/snakemake-interface-executor-plugins_1712920917323/work
snakemake-interface-report-plugins @ file:///opt/conda/conda-bld/snakemake-interface-report-plugins_1708336637727/work
snakemake-interface-storage-plugins @ file:///opt/conda/conda-bld/snakemake-interface-storage-plugins_1713352863409/work
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1715941212052/work
stopit==1.1.2
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity==8.5.0
terminado==0.18.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
throttler @ file:///home/conda/feedstock_root/build_artifacts/throttler_1691135466785/work
tidynamics @ file:///home/conda/feedstock_root/build_artifacts/tidynamics_1689080725019/work
tinycss2==1.3.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toposort @ file:///home/conda/feedstock_root/build_artifacts/toposort_1677526287284/work
tornado==6.4.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
types-python-dateutil==2.9.0.20240316
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
ubiquerg @ file:///home/conda/feedstock_root/build_artifacts/ubiquerg_1706829562839/work
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718653059220/work
veracitools==0.1.3
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.43.0
widgetsnbextension==4.0.13
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1699532803956/work
yappi==1.6.0
yte @ file:///home/conda/feedstock_root/build_artifacts/yte_1702295091829/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
